---
import GitHub from "./icons/GitHub.astro";
import HTML from "./icons/HTML.astro";
import CSS from "./icons/CSS.astro";
import Javascript from "./icons/Javascript.astro";
import Typescript from "./icons/Typescript.astro";
import AstroIcon from "./icons/Astro.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-[#f37139] text-white",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#3cacdd] text-white",
    icon: CSS,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#d1bb1a] text-white",
    icon: Javascript,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#3178C6] text-white",
    icon: Typescript,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#141414] text-white",
    icon: AstroIcon,
  },
};

const PROJECTS = [
  {
    title: "Pet & Paint - Landing Page",
    description:
      "Modern and responsive landing page for Pet & Paint, a creative studio. The page was developed using Astro, Tailwind CSS and TypeScript.",
    link: "https://petandpaint.netlify.app/",
    github: "https://github.com/dardilar/pet-and-paint",
    image: "/projects/pet-paint.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.ASTRO, TAGS.TYPESCRIPT],
  },
  {
    title: "Bankist - Landing Page",
    description:
      "Modern and responsive landing page for Bankist, a financial services company. The page was developed using HTML, CSS and modern JavaScript features.",
    link: "https://dardilar.github.io/Bankist-LP/",
    github: "https://github.com/dardilar/Bankist-LP",
    image: "/projects/Bankist.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: "Pig Game - Interactive Game",
    description:
      "Interactive game using HTML, CSS, and JavaScript, where players roll a dice by pressing a button. If the dice shows a 1, the turn switches to the next player, and the accumulated points are lost. Players can also save their points to avoid risks and pass the turn. This project is part of the course 'The Complete JavaScript Course 2024: From Zero to Expert', designed to practice advanced DOM manipulation skills.",
    link: "https://dardilar.github.io/Pig-Game/",
    github: "https://github.com/dardilar/Pig-Game",
    image: "/projects/pig-game.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: "A&D Store - Landing Page",
    description:
      "Modern and responsive landing page for A&D Store, a shop dedicated to 'The Ordinary' products. With a mobile-first approach, the page was developed using HTML and CSS, ensuring a smooth and optimized experience for mobile devices.",
    link: "https://dardilar.github.io/TheOrdinary-Landing-Page/",
    github: "https://github.com/dardilar/TheOrdinary-Landing-Page",
    image: "/projects/A&D-landing.webp",
    tags: [TAGS.HTML, TAGS.CSS],
  },
];
---

<div class="grid grid-cols-1 gap-8 md:grid-cols-2">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col h-full overflow-hidden transition duration-500 ease-in-out transform border shadow-xl group rounded-2xl border-gray-200 bg-white/60 dark:border-gray-800 dark:bg-gray-900/40 md:hover:-translate-y-1 md:hover:shadow-2xl hover:border-gray-300 dark:hover:border-gray-700">
        <div class="relative w-full overflow-hidden aspect-video bg-gray-100 dark:bg-gray-800">
          <img
            alt={`Screenshot of the ${title} project`}
            class="object-cover object-top w-full h-full transition duration-500 md:scale-105 md:group-hover:scale-110"
            loading="eager"
            decoding="async"
            src={image}
          />
          <div class="absolute inset-0 transition duration-500 opacity-0 bg-gradient-to-t from-black/40 to-transparent group-hover:opacity-100" />
        </div>

        <div class="flex flex-col flex-1 p-6">
          <h3 class="text-xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>

          <ul class="flex flex-row flex-wrap mt-3 gap-2">
            {tags.map((tag) => {
              const Icon = tag.icon;
              return (
                <li>
                  <span
                    class={`flex items-center gap-x-1.5 rounded-full text-xs ${tag.class} py-1 px-2`}
                  >
                    <Icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              );
            })}
          </ul>

          <p class="mt-3 text-sm text-gray-700 line-clamp-3 dark:text-gray-400">
            {description}
          </p>

          <footer class="flex items-end justify-start pt-4 mt-auto gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                Code
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                Preview
              </LinkButton>
            )}
          </footer>
        </div>
      </article>
    ))
  }
</div>
